{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container" style="padding-top: 88px;">
        <div class="row">
            <div class="col">
                <h2>Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive"></div>
                {% else %}
                    <p>Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-grey btn-lg">
                        <i class="fas fa-chevron-left"></i>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}